<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

@using WebApplication.Models
@model AuthModel

@Html.AntiForgeryToken()

@using (Html.BeginForm("UserPanel", "Home"))
{
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div>
                @Html.TextBoxFor(x => x.Login, new { placeholder = "login" })
            </div>
            <div>
                @Html.TextBoxFor(x => x.Password, new { placeholder = "hasło", type = "password" })
            </div>

            <input type="submit" class="fadeIn fourth" value="Zaloguj" />
        </div>
    </div>
}