@model AuthModel

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a style="text-decoration: underline">User: @Model.Login</a></li>
                <li><a onclick="switchPage('productsPartial','ordersPartial')">Products</a></li>
                <li><a onclick="switchPage('ordersPartial','productsPartial')">Orders</a></li>
                <li><a href="~/Home/Login">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content" style="padding-top:50px">
    <div id="ordersPartial" style="display:none">
        <partial name="Orders" />
    </div>
    <div id="productsPartial">
        <partial name="Products" />
    </div>
</div>

<script type="text/javascript">

    this.switchPage = function (pageToShow, pageToHide) {
        document.getElementById(pageToShow).style.display = "initial";
        document.getElementById(pageToHide).style.display = "none";
    };

</script>